<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pub/Sub UI</title>
</head>
<body>
<section>
    <div class="no-projects" th:if="${projectTopics.empty}">
        <p>No projects configured</p>
    </div>
    <div th:if="${projectTopics != null}">
        <ul>
            <li class="project" th:each="project : ${projectTopics}">
                Project: <strong th:text="${project.key}"></strong>
                <ul>
                    <li class="no-topics" th:if="${project.value.empty}">No topics configured</li>
                    <li th:each="topic : ${project.value}">
                        Topic: <a class="topic" th:href="@{'/project/' + ${project.key} + '/topic/' + ${topic.topicNameStripped}}" th:text="${topic.topicNameStripped}">Topic Name</a>
                        <ul>
                            <li class="no-subscriptions" th:if="${project.value.empty}">No subscriptions configured</li>
                            <li th:each="subscription : ${topic.subscriptions}">
                                Subscription: <span class="subscription" th:text="${subscription.subscriptionNameStripped}">Subscription Name</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
