<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title th:replace="${title}">Layout Title</title>
</head>
<body>
<header class="masthead mb-auto">
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>GCP Pub/Sub Emulator UI</strong>
            </a>
        </div>
    </div>
</header>
<main role="main" class="inner cover">
    <div class="container mt-3">
        <div th:replace="${content}">
            <p>Layout content</p>
        </div>
    </div>
</main>
<!--<footer>-->
<!--</footer>-->
</body>
</html>
